<div class="container py-4">
  <div class="song">
    <h1><%= @song.title %></h1>
    <p><%= @song.year %></p>
    <p><%= @song.category %></p>
  </div>
  <%= link_to "back to index", songs_path, class: "btn btn-warning" %>
  <%= link_to "edit song", edit_song_path, class: "btn btn-primary" %>
</div>
